body{
    background-color: #d9d9d9;
    margin: 0!important;
}

.main_container{
    margin-top: 52px;
    /* display: flex; */
    height: 1500px;
    width: 100%;
    position: absolute;
    /* align-items: center; */
    /* justify-content: center; */
}

.construction{
    height: 200px;
    width: 400px;
    background-color: white;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%)
}

/*/////////////////////////////////////////////
           Home page styles
/////////////////////////////////////////////*/

.welcome-container{
    display: flow-root;
    position: relative;
}

.welcome-pad{
    height: 109px;
    /* width: inherit; */
    margin: 8px;
    padding: 15px 15px 8px 50px;
    border-radius: 10px;
    background-image: url("../../resources/img/welcome_bg.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
                0 3px 1px -2px rgb(0 0 0 / 12%),
                0 1px 5px 0 rgb(0 0 0 / 20%);
}

#close-wlcm-bnr{
    content: url("../../resources/favicon/close_icon_normal.ico");
    height: 20px;
    float: right;
}

#close-wlcm-bnr:hover{
    content: url("../../resources/favicon/close_icon_down.ico");
}

.greet-txt{
    line-height: 0.8;
}

#day-wish{
    font-size: 18pt;
    color: black;
    font-weight: bold;
    font-style: italic;
}

#welcome-txt{
    font-size: 14pt;
}

.main_revisited{
    display: flex;
    height: 1000px;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
}

/* MyNetworks page styles */



/* Personal Info page styles */


/*/////////////////////////////////////////////
           Search page styles
/////////////////////////////////////////////*/

.search_container{
    margin-top: 52px;
    height: 1500px;
    width: 100%;
    text-align: center;
}
