.global_nav{
    left: 0;
    top: 0;
    width: 100%;
    height: 52px;
    z-index: 100;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
                0 3px 1px -2px rgb(0 0 0 / 12%),
                0 1px 5px 0 rgb(0 0 0 / 20%);
}

.nav_container{
    height: inherit;
    /* width: inherit; */
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
}

.nav_logo{
    height: inherit;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

#github-logo{
    display: block;
    content:url("../../resources/favicon/nav_logo_normal.ico");
    margin-top: 4px;
    height: 40px;
    width: auto;
}

#github-logo:hover{
    content:url("../../resources/favicon/nav_logo_down.ico");
    margin-top: 4px;
    height: 40px;
    width: auto;
}

#back-icon{
    display: none;
    content:url("../../resources/favicon/nav_back_normal.ico");
    margin-top: 4px;
    height: 40px;
    width: auto;
}

#back-icon:hover{
    content:url("../../resources/favicon/nav_back_down.ico");
    margin-top: 4px;
    height: 40px;
    width: auto;
}

.nav-btn-div{
    height: inherit;
    width: 52px;
    display: flex; /* flex */
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 10px;
    /* margin-right: 5px; */
}

.nav-cntnr-btn-div{
    height: inherit;
    width: 52px;
    display: flex; /* flex */
    align-items: center;
    justify-content: center;
    float: right;
    margin-left: 10px;
    /* margin-right: 5px; */
    border-bottom: 5px solid transparent;
}

#search-btn, #home-btn, #network-btn, #cv-btn, #apps-btn{
    font-size: 18pt;
    background-color: transparent;
    color: rgb(92, 91, 91);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    border: none;
    border-radius: 20%;
}

#search-btn:hover,  #home-btn:hover, #network-btn:hover, #cv-btn:hover, #apps-btn:hover{
    color: rgb(0, 0, 0);
    font-size: 20pt;
    border: none;
    box-shadow: none;
    outline: none!important;
}

#search-box{
    /* height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left; */
    overflow: hidden;
    display: none;
    
}

.search-container{
    height: 30px;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    border-color: rgb(226, 237, 248);
    border-radius: 5px;
    border-style: solid;
    border-width: 1.5px;
    background-color: rgb(238, 243, 248);
}

.search-container:hover{
    border-color: rgb(238, 243, 248); /*transparent;*/
    border-radius: 5px;
    border-style: solid;
    border-width: 1.5px;
}

.search-container:focus{
    border-color: rgb(238, 243, 248);
    border-radius: 5px;
    border-style: solid;
    border-width: 1.5px;
}

.search-box-prepend{
    margin-left: 10px;
    margin-right: 10px;
}

#search-box-icon{
    color: rgb(92, 91, 91);
}

.search-box-input{
    width: 100%;
    margin-right: 10px;
    background-color: rgb(238, 243, 248);
    border: none;
    box-sizing: border-box;
    outline: 0px;
    font-size: 12pt;
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif; */
}

.search-box-input:hover{
    border: none;
}

.search-box-input:focus{
    border: none;
}

.nav_other{
    height: inherit;
    display: flex; /* flex */
    align-items: center;
    justify-content: center;
    float: right;
}

/* @media only screen and (min-width: 800px) {
    #search-icon{ display: none;}
    #search-box{ display: block; width: 55%;}
    .nav_other{ display: flex; z-index: 1000;}
} */
